/* ========================= */
/* CLEAN GLOBAL RESET */
/* ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default spacing */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* Prevent horizontal scroll */
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #29be73, #000000);
  color: #1f2937;
}

/* Remove default button/input styles issues */
button,
input {
  font-family: inherit;
  outline: none;
}

/* Images responsive by default */
img {
  max-width: 100%;
  display: block;
}

/* Links clean */
a {
  text-decoration: none;
  color: inherit;
}
